# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Julia
*.jl.cov
*.jl.grcov
*.jl.mem
*.jl.prof
*.jl.reloc
*.jl.stack
*.jl.trace
*.jl.unwind

# Jupyter

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints

# Ignore cache directories
notebooks/cache/

# Jupyter Book build
_site/
.jupyter_cache/
.jupyter_book/
_build/

# General
.DS_Store
Thumbs.db

# Ignore virtual environment directories
env/
venv/

# Ignore other files
*.log
*.tmp
